@page "/"
@using Claudia
@rendermode InteractiveServer

<PageTitle>Blazor Claude</PageTitle>

<div class="flex flex-col relative h-full w-full overflow-auto transition-width">

    <div class="flex-0 bg-white text-2xl font-bold py-2 text-center border-b-2">Blazor Claude</div>

    <div class="flex-1 text-sm p-4">

        <div class="p-4 h-full border bg-white rounded-md overflow-y-auto">
            @foreach (var item in chatMessages)
            {
                @if (item.Role == Roles.User)
                {
                    <div class="mb-2">
                        <span class="font-bold text-blue-500">User:</span> @item.Content[0].Text
                    </div>
                }
                else
                {
                    <div class="mb-2">
                        <span class="font-bold text-green-500">Assistant:</span> @item.Content[0].Text
                    </div>
                }
            }
        </div>
    </div>


    <div class="flex-0 bg-white p-4 border-t-2">
        <div class="flex w-full mb-2">
            <div class="flex-0 mr-2">
                <div class="block text-sm font-medium leading-6 text-gray-900">Temperature</div>
                <input class="w-full h-1 mb-6 bg-gray-200 rounded-lg appearance-none cursor-pointer range-sm dark:bg-gray-700" type="range" min="0.0" max="1.0" step=0.1 value=@temperature>
            </div>
            <div class="flex-1">
                <div class="block text-sm font-medium leading-6 text-gray-900">System</div>
                <textarea type="text" class="block w-full rounded-md border-0 py-1.5 text-sm leading-6 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600"
                          @bind="systemInput" />
            </div>
        </div>
        <div class="w-full">
            <div class="flex">
                <form @onsubmit=SendClick>
                    <input type="text" id="chat-input" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 text-sm leading-6" placeholder=" Enter Message..." @bind="textInput">
                    <button class="ml-2 mt-0 w-auto inline-flex items-center justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" disabled="@running">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>